.categories {
  margin: 50px 0;

  &__col-3 {
    flex-basis: 10%;
    min-width: 250px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;

    @include breakpoint-up(medium) {
      flex-basis: 100%;
    }

    img {
      width: 100%;
    }
  }
}
