.single-product {
  margin-top: 80px;

  .row {
    @include breakpoint-up(medium) {
      text-align: left;
    }
  }
  h1 {
    @include breakpoint-up(medium) {
      font-size: 30px;
      line-height: 42px;
    }
  }
  h4 {
    margin: 20px 0px;
    font-size: 22px;
    font-weight: bold;
  }
  select {
    display: block;
    margin-top: 20px;
  }

  .fa {
    color: $orange;
    margin-left: 10px;
  }
  input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid $orange;

    &:focus {
      outline: none;
    }
  }

  .col-2 {
    padding: 20px;
    img {
      padding: 0;
    }

    @include breakpoint-up(medium) {
      padding: 20px 0;
    }
  }
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
